.body {
    background-color: azure;
}

.container {
    padding-top: 100px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}

#resetButton {
    margin: 10px;
    display: inline;
    background-color: gainsboro;
    border: none;
}

#submitButton {
    background-color: rgb(126, 167, 167);
    border: none;
}

